/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: Helvetica, sans-serif;
 }

 body {
   margin: 0;
   background-color: black;
 }
 h2 {
   font-family: 'Audiowide', cursive;
   color: aqua;
   font-size: 2em;
 }

 @media (min-width: 980px) {

 }

 #main_title {
   text-align: center;
 }

 #signin {
   text-align: center;
 }

 #alert {
   color: red;
   text-align: center;
 }

 h1,
 h3,
 h4,
 h6 {
   font-family: 'Audiowide', cursive;
   color: #FF69B4;
 }

form {
  margin: auto;
  margin-top: 20px;
  display: block;
  /*width: 200px;*/
  text-align: center;
}

input, textarea {
  display: block;
  margin: auto;
  background-color: rgba(0,0,0,0);
  border: solid aqua 1px;
  margin-bottom: 25px;
  padding: 3px;
  color: #FF69B4;
}

input::placeholder, textarea::placeholder, label{
  color: #FF69B4;
}

label {
  margin-top: 5px;
}

input[type=button],input[type=submit],button {
    color: #FF69B4;
    font-family: 'Exo 2', sans-serif;
}

 header {
   /*background-color: black;*/
 }

 .login_status {
   text-align: right;
   margin-right: 20px;
 }

 .title {
   background-color: black;
   text-align: center;
   margin: auto;
   padding-top: 20px;
   font-size: 72px;
   text-decoration: underline;
   text-decoration-style: dotted;
 }

 .subtitle {
   background-color: black;
   text-align: center;
   margin: auto;
   padding-bottom: 50px;
   /*text-decoration: underline;*/
 }

 .nav {
   text-align: center;
   color: white;
   margin:auto;
   list-style: none;
   font-size: 1.9em;
   padding-left: 0;
 }

 ul {
   /*background-color: red;*/
   list-style: none;
   padding: 0;
 }

 li,
 p {
   font-family: 'Exo 2', sans-serif;
   color: aqua;
   font-size: 1.2em;
 }
 .navlink{
   border: 2px;
   border-style: double;
   padding-top: 15px;
   max-width: 50%;
   margin: auto;
   margin-bottom: 3px;
   height: 50px;

 }
 a {
   color: #FF69B4;
   text-decoration: none;

 }

 .contacts_ticker {
   background-color: #FF69B4;
   padding: 2px;
 }

 .contacts_ticker h2 {
   padding-left: 5px;
 }

 .contacts_container {
   max-width: 80%;
   margin: auto;
 }

 .contact_box {
   margin-top: 20px;
   border: 2px;
   border-style: dashed;
   border-color: aqua;
   margin-bottom: 15px;
   padding-left: 25px;
 }

 .contact_padding {
   padding: 20px;
 }

 .contact_name {
   font-family: 'Exo 2', sans-serif;
   /*color: aqua;*/
   font-size: 1.2em;
 }
